.toast-message {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffff99; /* Galben */
  color: #ff6600; /* Portocaliu */
  padding: 10px;
  border: 1px solid #ff6600; /* Border portocaliu */
  border-radius: 5px;
  display: inline-block;
}

body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

#bt-background {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  opacity: 0.1;
}

#welcome-message {
  font-size: 24px;
  color: #ffd700; /* Galben strălucitor */
}
